@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
  }

  input[type="radio"].form-radio {
    appearance: auto;
  }

  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}


@layer utilities{
  .root {
    @apply flex min-h-screen w-full flex-col bg-n-8 lg:flex-row;
  }
  
  .root-container {
    @apply mt-16 flex-1 overflow-auto py-8 lg:mt-0 lg:max-h-screen lg:py-10
  }
  

  .p-16-semibold {
    @apply font-semibold text-[16px] leading-[140%];
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

    /* Search Component */
    .search {
      @apply flex w-full rounded-[16px] border-2 border-purple-200/20 bg-white px-4 shadow-sm md:max-w-96;
    }
  
    /* Sidebar Component */
    .sidebar {
      @apply hidden h-screen w-72 bg-n-6 p-5 shadow-md shadow-purple-200/50 lg:flex;
    }
  
    .sidebar-logo {
      @apply flex items-center gap-2 md:py-2;
    }
  
    .sidebar-nav {
      @apply h-full flex-col justify-between md:flex md:gap-4;
    }
  
    .sidebar-nav_elements {
      @apply hidden w-full flex-col items-start gap-2 md:flex;
    }
  
    .sidebar-nav_element {
      @apply flex-center p-16-semibold w-full whitespace-nowrap rounded-full bg-cover  transition-all hover:bg-white/20 hover:shadow-inner;
    }
  
    .sidebar-link {
      @apply p-16-semibold flex size-full gap-4 p-4;
    }

    .dropdown-content {
      @apply shadow-lg rounded-md overflow-hidden p-0;
    }
  
    .dropdown-item {
      @apply p-16-semibold text-dark-700 cursor-pointer transition-all px-4 py-3 rounded-none outline-none hover:border-none focus-visible:ring-transparent hover:text-white hover:bg-purple-gradient hover:bg-cover focus-visible:ring-offset-0 focus-visible:outline-none !important;
    }
  
    .input-field {
      @apply rounded-[16px] border-2 border-purple-200/20 shadow-sm shadow-purple-200/15 text-dark-600 disabled:opacity-100 p-16-semibold h-[50px] md:h-[54px] focus-visible:ring-offset-0 px-4 py-3 focus-visible:ring-transparent !important;
    }
  
    .search-field {
      @apply border-0 bg-transparent text-dark-600 w-full placeholder:text-dark-400 h-[50px] p-16-medium focus-visible:ring-offset-0 p-3 focus-visible:ring-transparent !important;
    }
    .sheet-content button {
      @apply focus:ring-0 focus-visible:ring-transparent focus:ring-offset-0 focus-visible:ring-offset-0 focus-visible:outline-none focus-visible:border-none !important;
    }
    .header {
      @apply flex-between fixed h-16 w-full border-b border-zinc-900 bg-n-6 p-5 lg:hidden;
    }
  
    .header-nav_elements {
      @apply mt-8 flex w-full flex-col items-start gap-5;
    }
  
    /* Search Component */
    .search {
      @apply flex w-full rounded-[16px] border-2 border-purple-200/20 bg-white px-4 shadow-sm shadow-purple-200/15 md:max-w-96;
    }
    
}
.images {
  width: 700px;
  height: 450px;
  display: flex;
  align-items: center;
}

.images .image {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
}

.navigation,
.images {
  transition: transform 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.navigation {
  transition-delay: 100ms;
}

.cl-userButtonBox {
  display: flex;
  gap: 12px;
}
/* .cl-avatarImage{
  width: 80px;
} */

.cl-internal-1j7ahlv{
  width: 3rem;
  height: 3rem;
}


.cl-userButtonOuterIdentifier {
  font-family: 'Sora' sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

