@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer base {

  :root {
    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
  }

  
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
  
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}


/* 
main {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 5rem);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 3.125rem;
}

.wrapper {
  overflow: hidden;
}

.absolute-wrapper {
  position: absolute;
  overflow: hidden;
  height: 100vh;
  width: 60%;
  top: 0;
  left: 0;
  z-index: -1;
}

.colored-backgrounds {
  position: absolute;
  height: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colored-backgrounds div {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.colored-backgrounds div:nth-child(1) {
  background-color: #d1d0c4;
}

.colored-backgrounds div:nth-child(2) {
  background-color: #adc1a8;
}

.colored-backgrounds div:nth-child(3) {
  background-color: #d3d8d6;
}

.colored-backgrounds div:nth-child(4) {
  background-color: #d3ae99;
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
}

.content p {
  margin-bottom: 1.5rem;
  font-family: open sans;
}

.content button {
  border: none;
  background-color: #7bcc3c;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2.5rem;
  cursor: pointer;
}

.content button:active {
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}

.images {
  width: 350px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.images .image {
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.image:nth-child(1) {
  background: url("https://vikram-hegde.github.io/ui-animation/images/image1.png")
    no-repeat 50% 50% / cover;
}

.image:nth-child(2) {
  background: url("https://vikram-hegde.github.io/ui-animation/images/image2.png")
    no-repeat 50% 50% / cover;
}

.image:nth-child(3) {
  background: url("https://vikram-hegde.github.io/ui-animation/images/image3.png")
    no-repeat 50% 50% / cover;
}

.image:nth-child(4) {
  background: url("https://vikram-hegde.github.io/ui-animation/images/image4.png")
    no-repeat 50% 50% / cover;
}

.navigation .right,
.navigation .left {
  height: 60px;
  width: 60px;
  border: 1px solid #333;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
}

.navigation .right:hover,
.navigation .left:hover {
  background-color: #333;
  color: white;
}

.navigation .right:active,
.navigation .left:active {
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}

.images,
.colored-backgrounds {
  -webkit-transition: -webkit-transform 0.35s
    cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: -webkit-transform 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.35s cubic-bezier(0.39, 0.575, 0.565, 1),
    -webkit-transform 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.colored-backgrounds {
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
} */

.images {
  width: 700px;
  height: 450px;
  display: flex;
  align-items: center;
}

.images .image {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
}

.navigation,
.images {
  transition: transform 0.35s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.navigation {
  transition-delay: 100ms;
}