.fill,
.bordered {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.bordered {
  border: 1px solid white;
}

.fill {
  border: 1px solid white;
  background-color: white;
}

.border-blue {
  border: 2px solid white;
  border-radius: 7px;
}

.border-gray {
  border: 2px solid rgb(51, 51, 51);
  border-radius: 7px;
}

.container__option {
  height: 55px;
  user-select: none;
}
